* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(220, 4%, 17%);
  --on-primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 100%);
  --on-secondary-color: hsl(0, 0%, 0%);
  /* --accent-color: #ffcc00; */
  --col-border: hsl(0, 0%, 50%);
  --col-border2: hsl(0, 0%, 100%);
  --bg-modal-backdrop: hsla(0, 0%, 50%, 0.9);
  --col-error: hsl(0, 100%, 50%);
  --col-btn-box-shadow: hsl(0, 0%, 0%);
  --btn-hover-color: hsl(308, 80%, 45%);

  --font-size-text-modal: 1.3rem;
  --font-size-input-modal: 1.1rem;
  --font-size-text-card: 1.1rem; /* no input elements */
}

html,
body,
.container {
  min-height: 100vh;
}

.btn {
  border: none;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--col-btn-box-shadow, hsl(0, 0%, 0%));
  color: var(--btn-hover-color, hsl(308, 80%, 45%));
}

a {
  color: var(--on-primary-color, hsl(0, 0%, 100%));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cardSelect:hover {
  cursor: pointer;
}

/* new design mobil first approach */
.container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;

  color: var(--on-primary-color, hsl(0, 0%, 100%));
  background-color: var(--primary-color, hsl(220, 4%, 17%));
}

header,
main,
footer {
  width: 100%;
}

header {
  display: grid;
  justify-items: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--col-border2, hsl(0, 0%, 100%));
  background-color: var(--primary-color, hsl(220, 4%, 17%));
  z-index: 10;
}

.btnAddBook {
  width: 50%;
  height: 100%;
}

.cardContainer {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  display: grid;
  align-items: center;
  min-height: 220px;
  width: 90%;
  padding-bottom: 2px;

  word-break: break-word;
  overflow: hidden;

  border-radius: 4px;
  border: 1px solid var(--col-border, hsl(0, 0%, 50%));
  color: var(--on-secondary-color, hsl(0, 0%, 0%));
  background-color: var(--secondary-color, hsl(0, 0%, 100%));
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px hsla(0, 0%, 100%, 0.15);   
}

.cardDivTitle,
.cardDivAuthor,
.cardDivPages,
.cardDivRead {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
  border-bottom: 1px solid var(--col-border, hsl(0, 0%, 50%));
}

.cardDivRead {
  border: none;
}

.pTitle,
.pAuthor,
.pPages,
.labelSelect {
  font-weight: 800;
}

.cardSelect {
  width: 50%;
  border-radius: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.btnRemove {
  width: 98%;
  height: 90%;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  border: 1px solid var(--col-border, hsl(0, 0%, 50%));
}

footer {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 5px;
  padding-top: 0.5rem;

  padding-bottom: 0.5rem;
  border-top: 1px solid var(--col-border2, hsl(0, 0%, 100%));
}

footer ul {
  display: grid;
  justify-items: center;
  row-gap: 2px;
  list-style-type: none;
}

footer i {
  margin-right: 2px;
}

.fa.fa-twitter {
  font-family: sans-serif;
}

.fa.fa-twitter::before {
  content: "𝕏";
}

/* modal window for user input */
.modal {
  width: 400px;
  height: 310px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 4px;
  padding: 1rem;
  border: none;
  color: var(--on-primary-color, hsl(0, 0%, 100%));
  background-color: var(--primary-color, hsl(220, 4%, 17%));
}

.modal::backdrop {
  background-color: var(--bg-modal-backdrop, hsla(0, 0%, 50%, 0.9));
}

.modalContent {
  display: grid;
  grid-template-rows: 1fr 9fr;
  font-size: var(--font-size-text-modal);
  height: 100%;
  width: 100%;
}

.modalContentHeader {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.modalContentHeader p {
  font-weight: bold;
}

#btnCloseModal {
  width: 20px;
  height: 20px;
  justify-self: end;
  font-size: 1.1rem;
}

.modalContent form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.modalDivTitle,
.modalDivAuthor,
.modalDivPages,
.modalDivRead {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 0.5fr;
  align-items: end;
}

#title,
#author,
#pages,
#selectBookProgress {
  font-size: var(--font-size-input-modal);
}

#title,
#author,
#pages {
  padding-top: 1px;
  padding-left: 3px;
  padding-bottom: 1px;
}

#pages {
  width: 60%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.selectBookProgress {
  width: 60%;
}

.error-message {
  grid-column: 2 / 3;
  align-self: start;
  font-size: 0.9rem;
  color: var(--col-error, hsl(0, 100%, 50%));
}

.modalDivBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  align-items: end;
}

.btnSubmitModal,
.btnCancelModal {
  height: 70%;
  width: 80%;
  font-size: var(--font-size-input-modal);
}

.btnSubmitModal {
  justify-self: start;
}

.btnCancelModal {
  justify-self: end;
}

@media (min-width: 768px) {
  header {
    justify-items: start;
    padding-left: 2%;
  }

  .btnAddBook {
    width: 20%;
  }

  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }

  footer ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    grid-template-columns: 0.5fr 2fr 1fr;
  }

  footer ul {
    justify-self: start;
  }
}